<section class="container">
  <div class="row centered">
    <div class="col-md-4 centered panel panel-primary info-panel text-center" style="padding:0px;">
      <div class="panel-heading">
        <h3>Product Count</h3>
        <h1>
          <%= @products.count  %>
        </h1>
      </div>
    </div>

    <div class="col-md-4 centered panel panel-primary info-panel text-center" style="padding:0px;">
      <div class="panel-heading">
        <h3>Category Count</h3>
        <h1>
          <%= @categories.count  %>
        </h1>
      </div>
    </div>
  </div>
</section>