<h1>About Jungle</h1>
<p>Jungle was founded in 2021 by Brandon Macdonald. It was created as a place for hipsters to sell their goods in a safe space without being harassed by 'normies'. The goods that have been procured are of the utmost simplicity and minimalist style. They have been procured from local markets and from small tribes in the Amazon rainforest.</p>
<p>We are certain you will enjoy the goods our team has handcrafted for you. If you would like to request a product, please get in touch with our instagram team. We are proud members of the save the rainforests international and fair trade coffee program.</p>

<p>Sincerely, Brandon</p>

<h4>We currently have
  <span style="font-size: 1.5em">
    <%= @products.count %>
  </span> amazing products in our inventory!
</h4>